/* General layout */

body {
  background: #d8eaef;
  color: #333;
  font-family: sans-serif;
  margin: 1%;
}

#title, #title a, .links {
  color: #659cab;
}

a, .links a:hover, .links strong, p a:hover, .header {
  text-decoration: none;
  color: #033442;
}

a:hover, .links a, p a {
  text-decoration: underline;
}

h1 {
  font-size: 100%;
  margin: 0;
}

h2 {
  font-size: 105%;
  margin: 10px 0 0 0;
}

h3 {
  margin: 0;
  font-size: 100%;
}

/* This is to get the event length in index page not to be bolded. */
h3 span {
  font-weight: normal;
}

h1, h2, h3 {
  padding: 0;
}

.header, .footer {
  padding: 4px 0;
  border-bottom: 2px solid #b0cfd8;
  margin-bottom: 5px;
}

.footer {
  border-top: 2px solid #b0cfd8;
  /* Some smartphones show controls in bottom of the screens. */
  /* This prevents front page navigation to be obscured by them. */
  margin-bottom: 6em;
}

p, .footer {
  margin-top: 5px;
}

a:visited {
    color: #4d034d;
}

/* Event layout */

.event {
  background: white;
  padding: 8px 10px;
  margin: 0 0 6px 0;
  line-height: 1.1;
  border: 1px solid #bbb;
  color: #222;
}

div.major-event {
  border: 3px solid #bbb;
}

span.major-event {
  font-weight: bold;
}

.event a {
  color: #62a60a;
}

.event a:visited {
    color: #7e8839;
}

.event div {
  padding: 2px 0;
}

a.location {
  color: #666;
}

a:visited.location {
  color: #222;
}
