/* General layout */

body {
  background: #d8eaef;
  color: #333;
  font-family: sans-serif;
  margin: 1%;
}

/* #title must be before anchor selector because Nokia's S40 browser will
   otherwise show wrong colours in links. */
#title, #title a {
  color: #659cab;
}

a {
  text-decoration: none;
  color: #033442;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 100%;
  margin: 0;
  padding: 0;
}

h2 {
  padding: 0;
  font-size: 105%;
  margin: 10px 0 0 0;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

.header, .footer {
  color: #659cab;
  padding: 4px 0;
  border-bottom: 2px solid #b0cfd8;
  margin-bottom: 5px;
}

.footer {
  border-top: 2px solid #b0cfd8;
  margin-top: 5px;
}

.links {
  color: #659cab;
}

p {
  margin-top: 5px;
}

/* Event layout */

.event {
  background: white;
  padding: 8px 10px;
  margin: 0 0 6px 0;
  line-height: 1.1;
  border: 1px solid #bbb;
  color: #222;
}

.event a {
  color: #62a60a;
}

.event div {
  padding: 2px 0;
}

a.location {
  color: #666;
  font-size: 100%;
}
