[buildout]
develop = .
parts =
    eggbasket
    app
    i18n
    test
    mkdirs
    zpasswd
    zope_conf
    site_zcml
    zdaemon_conf
    deploy_ini
    debug_ini
    zodb
    zeoserver
    varnish-build
    varnish-instance
# For backward compatibility, telling buildout not to throw away
# the data and log subdirectories from the parts directory.
    data
    log
newest = false

extends = base.cfg
# eggs will be installed in the default buildout location
# (see .buildout/default.cfg in your home directory)
# unless you specify an eggs-directory option here.
eggs-directory = eggs

versions = versions

[app]
recipe = zc.recipe.egg
eggs = AsmMobile
       z3c.evalexception>=2.0
       Paste
       PasteScript
       PasteDeploy
interpreter = python-console

[mkdirs]
recipe = z3c.recipe.mkdir
paths =
    ${zope_conf:filestorage}
    ${zope_conf:logfiles}
    ${zope_conf:blobstorage}

[test]
recipe = zc.recipe.testrunner
eggs = AsmMobile
defaults = ['--tests-pattern', '^f?tests$', '-v', '--color']

# this section named so that the i18n scripts are called bin/i18n...
[i18n]
recipe = z3c.recipe.i18n:i18n
packages = asmmobile
eggs = asmmobile
domain = asmmobile
output = src/asmmobile/locales
zcml =

# This section is named so that the zpasswd utility is
# called `zpasswd`
[zpasswd]
recipe = z3c.recipe.dev:script
eggs = AsmMobile
module = zope.app.server.zpasswd
method = main

[zope_conf]
recipe = collective.recipe.template
input = etc/zope.conf.in
output = ${buildout:parts-directory}/etc/zope.conf
filestorage = ${buildout:directory}/var/filestorage
blobstorage = ${buildout:directory}/var/blobstorage
logfiles = ${buildout:directory}/var/log
extra =
# 'extra' is copied verbatim. Use it for product config sections and so.

# The [data] and [log] parts are still in here to instruct buildout to not
# unintentionally throw away the parts/data and parts/log subdirectories
# that contain the Data.fs and the log files. These files should be
# copied to the new locations. See the upgrade notes for more information.
[data]
recipe = zc.recipe.filestorage

[log]
recipe = zc.recipe.filestorage

[site_zcml]
recipe = collective.recipe.template
input = etc/site.zcml.in
output = ${buildout:parts-directory}/etc/site.zcml

[zdaemon_conf]
recipe = collective.recipe.template
input = etc/zdaemon.conf.in
output = ${buildout:parts-directory}/etc/zdaemon.conf

[deploy_ini]
recipe = collective.recipe.template
input = etc/deploy.ini.in
output = ${buildout:parts-directory}/etc/deploy.ini
server-host = 127.0.0.1
server-port = 8080

[debug_ini]
recipe = collective.recipe.template
input = etc/debug.ini.in
output = ${buildout:parts-directory}/etc/debug.ini


[eggbasket]
recipe = z3c.recipe.eggbasket
eggs = grok
url = http://grok.zope.org/releaseinfo/grok-eggs-1.1rc1.tgz

[zodb]
recipe = zc.recipe.egg:script
eggs = ZODB3

[zeoserver]
recipe = zc.zodbrecipes:server
address = localhost:8100
zeo.conf =
   <zeo>
      address ${zeoserver:address}
#       monitor-address 8101
      transaction-timeout 300
   </zeo>
    <filestorage 1>
        path ${zope_conf:filestorage}/asmmobile.fs
    </filestorage>


[varnish-build]
recipe = zc.recipe.cmmi
url = http://downloads.sourceforge.net/varnish/varnish-2.0.4.tar.gz

[varnish-instance]
recipe = plone.recipe.varnish
daemon = ${buildout:directory}/parts/varnish-build/sbin/varnishd
config = etc/varnish.vcl
bind = 127.0.0.1:8081
cache-size = 10M
telnet = 127.0.0.1:8082

[asmmobile]
# Here are rudimentary configuration options that every site using this
# application should change to suit their needs. See src/asmmobile/config.py
# for more options and their explanations.
config = <product-config assembly-mobile>

  ########################################################################
  # General party-specific application configuration

  # Site name is shown in the logo portion of site and on every title.
  site-name Assembly Mobile

  # Party name is shown mostly when showing all events and when party has
  # not started yet.
  party-name Assembly

  # Main site URL is embedded to bottom navigation panel.
  main-site-url http://www.assembly.org/

  # As this is an AGPL application, source code must be publicly available even
  # when application is not distributed.
  source-url http://bitbucket.org/barro/assembly-mobile/


  ########################################################################
  # Options that affect displaying of events.

  # Decorators:
  #
  # reverse
  # if-equals
  #
  # Sort types:
  #
  # name
  # start-time
  # location-priority
  # major

  # Shows what kind of sort order currently ongoing events have.
  #
  # By default sorts by start time, where newest events are shown first.
  #
  # If start times match, then display major events first and then events in
  # more important locations are shown first.
  #sort-current-events start-time&reverse&if-equals:major&if-equals:location-priority&if-equals:name

  # Shows what kind of sort order events that begin in a while have.
  #
  # By default sorts by start time, where events that are just starting are
  # shown first.
  #
  # If start times match, then display major events first and then events in
  # more important locations are shown first.
  #sort-next-events start-time&if-equals:major&if-equals:location-priority&if-equals:name

  # Selector types for future events:
  #
  # one-per-location = One event per location. If there are more events than one
  #     starting at the same location, this will choose only the ones that start
  #     first.
  # not-hidden = This shows only the events that are starting in less than the
  #     location specific hiding time. Default hiding time is specified in
  #     configuration variable "default-hide-time".
  # maximum-amount = Limits the display of next events to some maximum number
  #     that is specified as: maximum-amount:4
  #
  # Multiple selectors can be combined with "&".

  # By default show only 8 of those events that are starting in next 2 hours.
  # If there are events that are starting at the same time, then there can be
  # more than 8 events show in the "next events" section.
  #select-next-events not-hidden&maximum-amount:8

  # Default priority for locations.
  #default-location-priority 0

  # Default time objects are hidden before they are shown in "next events".
  #default-hide-time 7200

  # Enable or disable internalization.
  #enable-internalization True

  # A comma separated list of enabled languages or a star to enable them all.
  # By default enable all languages that there are available.
  #enabled-languages *

  # Default language that is used when user with unknown language comes to site
  # or if events or locations are not available with such language.
  #default-language en


  ########################################################################
  # Importing options

  # Names that are shorten that short-name-maximum-length are not shortened.
  #short-name-maximum-length 60

  # Names are shortened to this length before starting to search for word
  # boundary. Names are cut at word boundaries instead of coldly cutting them
  # to short length.
  #short-name-shorten-to 57

  # Characters that we use to find word boundaries.
  #short-name-non-word-characters -_ #:,.?!/"

  # Cut postfix is added to the end of shortened names.
  #
  # For example "This is a long event name" could be shortened to
  # "This is a long..."
  #short-name-cut-postfix ...


  ########################################################################
  # Options that affect internal workings of this application

  # Controls that do we send headers indicating modified and cache times to
  # clients. All caching related headers take a few hundred bytes so this
  # might be good to take into account when trying to reduce sent data.
  #
  # Header removal can also be done in reverse proxy, so we can still benefit
  # from server side caching and clients get less data per connection.
  #
  # By default caching is disabled, as Android based browsers do not like that
  # and the page that is the most used one is going to be changing once per
  # minute anyway.
  #send-caching-headers false

  # Time in minutes that how long one event is considered to be valid.
  #
  # This affects caching of all other pages than the overview and next events,
  # as those pages have data that is changed at least once per minute.
  #event-cache-minutes 15

  # For now this controls that do we shorten CSS class and ID names or not.
  #
  # Shortened CSS names are specified with "shorten" type in templates:
  # <span tal:attributes="class shorten:classname">
  #
  # This can be either "true" or "false".
  #mobile-mode true

  # This sets the source of application time as local time.
  #
  # Either "now" or time given in following format: year-month-day-hour-minute
  #
  # For example "2009-08-06-18-23" would set the application time to 2009-08-06
  # 18:23:00 local time.
  #time now

  # Container name for Location objects.
  #
  # This affects the URLs for locations and by default this results in
  # addresses like: http://example.com/appname/location/location_name
  #locations location

  # Container name for Event objects.
  #
  # This affects the URLs for events and by default this results in
  # addresses like: http://example.com/appname/event/event_name
  #events event

  # Name for language including cookie.
  #cookie-language l

  # Alternative skin.
  #alternative-skin bw

  # Default skin name.
  #skin-name-default ASM

  # Extra data from base config.
  ${asmmobile-cfg:zope-conf-product-config}
  </product-config>
