/* General layout */

body {
  background: #fff;
  color: #000;
  font-family: sans-serif;
  margin: 1%;
}

h1 {
  font-size: 100%;
  margin: 0;
}

h2 {
  font-size: 105%;
  margin: 10px 0 0 0;
}

h3 {
  margin: 0;
  font-size: 100%;
}

h1, h2, h3 {
  padding: 0;
}

.header, .footer {
  padding: 4px 0;
  border-bottom: 2px solid #000;
  margin-bottom: 5px;
}

.footer {
  border-top: 2px solid #000;
  /* Some smartphones show controls in bottom of the screens. */
  /* This prevents front page navigation to be obscured by them. */
  margin-bottom: 6em;
}

p, .footer {
  margin-top: 5px;
}

a {
  color: #000;
  /* Needed for Mobile Safari. */
  text-decoration: underline;
}

a:visited {
  font-style: italic;
}

a:hover {
  text-decoration: none;
}

/* Event layout */

.event {
  padding: 8px 10px;
  margin: 0 0 6px 0;
  line-height: 1.1;
  border: 1px solid #000;
}

div.major-event {
  border: 3px solid #000;
}

span.major-event {
  font-weight: bold;
}

.event div {
  padding: 2px 0;
}
