/* Styles for "current time" line in next event list */

div.now, .now a {
  padding: 0;
}

span.disabled {
  text-decoration: line-through;
}

.finished, .finished a, .finished a:hover {
  color: #666;
  text-decoration: none;
}

.finished a {
  text-decoration: underline;
}

.finished a:visited {
  color: #666;
  font-style: italic;
}
