.alert {
  background: #fdd;
  color: #000;
  padding: 8px 10px;
  border: 1px solid red;
}

.alert h2 {
  margin: 0px;
}

.alert a {
  text-decoration: underline;
  color: #000;
}

.alert a:visited {
  font-style: italic;
}

.alert a:hover {
  text-decoration: none;
}
